<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="userName" value="" />
    <add key="password" value="" />
    <add key="baseUrl" value="https://spor-uat.ema.europa.eu/v1/" />
    <add key="authType" value="Basic " />
    <add key="contentType" value="application/x-www-form-urlencoded" />
    <add key="senderId" value="LRZ" />
    <add key="targetVersionNo" value="2016.360712" />
    <add key="targetPatchLevel" value="5980" />
    <add key="targetMetaVersionNo" value="61441" />
    <add key="contentCulture" value="de-DE" />
    <add key="saveLocation" value="D:\xmlOrg" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>